* {
    box-sizing: border-box;
    margin: 0;
}

/*Gør så man ikke kan scroll */
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

/*--------------Header og nav bar og burger menu---------------*/
#headernav {
    position: relative;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;

    text-decoration: none;
}

#burgerKnap {
    text-align: right;
    grid-column-start: 3;
    font-size: 20px;
    font-size: 26px;
    color: black;
    cursor: pointer;
}

#burgerMenu {
    text-align: center;
}

#burgerMenu a {
    display: block;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1.6rem;
    font-style: normal;
    padding: 8px;
}

#burgerMenu a:hover {
    color: #DBDBDB;
    font-weight: bold;
}

#burgerMenu li {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.hidden {
    display: none;
}

#burgerMenu .hidden {
    height: 8vh;
}

#logo {
    position: absolute;
    max-width: 14vw;
    height: auto;
    top: 1vw;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    background-color: #E4E4E485;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

hr {
    width: 200px;
    text-align: left;
    margin-left: 0;
    color: lightgray;
}

#adresse{
    grid-column-start: 1;
    margin-left: 20px;
}

#aabningstider{
     grid-column-start: 2;
    margin-left: 10px;
}

  h3 {
      padding: 1vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
  }

#aabningstider p {
      padding: 1vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 100;
  }
#adresse p {
      padding: 1vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 100;
  }
@media only screen and (min-width:650px) {
    #burgerKnap {
        display: none;
    }

    .hidden {
        display: inline-block;
    }

    #logo {
        top: 0.7vw;
        left: 2vw;
    }

    #burgerMenu a {
        display: inline-block;
        font-size: 1.3rem;
    }

    #headernav {
        text-align: right;
    }

}

@media only screen and (min-width:800px) {
    #logo {
        width: 9vw;
        height: auto
    }
}

@media only screen and (min-width:1050px) {
    #logo {
        width: 6.7vw;
        left: 1vw;

    }
}

@media only screen and (min-width:1200px) {
    #logo {
        width: 5.4vw;
        top: 0.2vw;

    }
}

/*--------------Footer---------------*/
