 * {
     box-sizing: border-box;
     margin: 0;
 }

 /*Gør så man ikke kan scroll */
 html,
 body {
     max-width: 100%;
     overflow-x: hidden;
 }

 .valgt {
     background-color: #EDEDED;
     box-shadow: 2px 2px 3px 1px rgba(0 0 0 / 25%);
     border: none;
     padding: 14px 26px;
     margin: 2px 2px 12px 2px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-family: 'Montserrat', sans-serif;
 }
