  * {
      box-sizing: border-box;
      margin: 0;
  }

  /*Gør så man ikke kan scroll */
  html,
  body {
      max-width: 100%;
      overflow-x: hidden;
  }

  #splash_section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 10px;
      max-width: none;
      width: 100vw;
      height: auto;
      background-image: url(icon_splash/01_splash.jpg);
      background-size: cover;
      background-position: 20% 10%;

  }

  #splash_section .splash_wrapper {
      grid-column: 2;
      grid-row: 2;
      text-align: center;
  }

  #splash_section .splash_wrapper h1 {
      font-size: 2rem;
  }

  #menu_visning {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  body {
      background-color: #f7f7f7e8;
  }

  article {

      border: 1px solid #33333342;
      padding: 10px;
      margin: 1em;
      box-shadow: 5px 4px 6px 1px rgba(0 0 0 / 35%);
      justify-content: space-between;
      flex-direction: column;
      height: auto;
      display: flex;
  }

  img {
      width: 100%;
      height: auto;
  }

  h1 {
      padding: 1vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 2rem;
  }

  #filtrering h1 {
      text-align: center;
  }

  h2 {
      padding: 1vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
  }

  #filtrering h2 {
      text-align: center;
  }

  h3 {
      padding: 1vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
  }

  h4 {
      padding-right: 1vw;
      padding-left: 1vw;
      padding-top: 2vw;
      padding-bottom: 2vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 100;

  }

  .sortering {
      text-align: center;
  }

  .knap {
      text-align: right;
      justify-content: flex-end;
      display: flex;
  }

  .detaljer {

      background-color: #EDEDED;
      box-shadow: 1px 2px 5px 1px rgba(0 0 0 / 35%);
      border: none;
      padding: 13px 14px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      font-weight:

  }

  .detaljer:hover {
      background-color: #BFBFBF;
  }

  button {
      background-color: #EDEDED;
      box-shadow: 2px 2px 3px 1px rgba(0 0 0 / 25%);
      border: none;
      padding: 4px 4px;
      margin: 2px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
  }

  button:hover {
      background-color: #BFBFBF;
      font-weight: 600;
  }
